<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Description page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>{% block title %}{{ _('KB') }} {{ _('Marshal') }}{% endblock title %}</title>
    <link href="{{ static('img/favicon.avif') }}" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="{{ static('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static('css/style.css') }}">
    <link rel="stylesheet" href="{{ static('css/media.css') }}">
  </head>

  <body class="Site">
      <header class="Header">
          {% block header %}
          {% include "includes/header/header.j2" %}
          {% endblock header %}
      </header>

      <main>
          <section class="base">
              <div class="container">
                  {% block content %}
                  {% endblock %}
              </div>
          </section>
      </main>

      <footer class="Footer">
          <div class="wraps">
              <div class="row Footer-main">
                  {% include "includes/footer/footer.j2" %}
              </div>
          </div>
      </footer>
  </body>
</html>
