{#{% if task_file_verification and not task_file_verification.status in ['SUCCESS', 'FAILURE', 'ERROR', 'REVOKED'] %}#}
{#filename: {{ filename }} | task_file_verification: {{ task_file_verification }} | task_start_service: {{ task_start_service }}#}
<div id="disabled_control" style="text-align: right" hidden="hidden"></div>
<script>
  let loader_circle = '<div class="loader__wrap">{{ _('Loading data') }}    ' +
                      '<div class="loader" >' +
                      '<div class="bar1"></div>' +
                      '<div class="bar2"></div>' +
                      '<div class="bar3"></div>' +
                      '<div class="bar4"></div>' +
                      '<div class="bar5"></div>' +
                      '<div class="bar6"></div>' +
                      '<div class="bar7"></div>' +
                      '<div class="bar8"></div>' +
                      '<div class="bar9"></div>' +
                      '<div class="bar10"></div>' +
                      '<div class="bar11"></div>' +
                      '<div class="bar12"></div>' +
                      '</div></div>';
</script>

<div style="margin-top: 50px">
  {% if task_file_verification %}

    <div class="disabled" id="block_disabled">
      <div class='progress-wrapper' xmlns="http://www.w3.org/1999/html">
        <div id='progress-bar-file-verification' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
      </div>

      <div id="progress-bar-file-verification-message" style="margin-top: 15px">{{ _('Start progress') }}</div>
      <script src="{{ static("celery_progress/celery_progress.js") }}"></script>

      <div id="file-verification-result" style="margin-top: 15px"></div>


      <form class="form-check">
        <div class="form-check-wrap flex">
          <div class="form-check-wrap-label flex" id="form_check_wrap" style="display: none">
            <label class="checkbox flex" for="confirm">
              <input type="checkbox" id="confirm" class="checkbox__input" value="Подтвердить" onclick="CheckboxConfirmOnClickFunction()">
              <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"></rect>
                <path class="tick" stroke="#22e806" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9"></path>
              </svg>

              <span id="confirm_span" class="checkbox__label">{{ _("Confirm") }}</span>
              <span id="confirm_span_2" class="checkbox__label-end" style="display: none">{{ _("Confirmed") }}</span>
            </label>
          </div>
        </div>
      </form>

      <form class="form-input__wrapper" method="post" id="command_form">
        {% csrf_token %}
        <label for="command"></label><input type="text" value="STOP_TASK:FILE_VERIFICATION:{{ task_file_verification.task_id }}" id="command" name="command" hidden="hidden">
        <button class="btn btn_success btn_success__form-check" id="reset_btn" onclick="clickResetBtn()">{{ _('Cancel verification') }}</button>
      </form>

      <form class="form-check form-check__send_results">
        <p class="span_send_results span_send_results__send-result-file" id="span_send_results" style="display: none">{{ _('Send result file') }}:</p>
        <ul class="form-check-wrap form-check-wrap__list list-reset flex">
          <li class="form-check-wrap-label form-check-wrap-label__list flex" id="send_to_email" style="display:none">
            <label class="checkbox flex" for="checkbox_send_mail">
              <input type="checkbox" id="checkbox_send_mail" class="checkbox__input" value="Email" onclick="CheckBoxSendMail()">
              <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"></rect>
                <path class="tick" stroke="#22e806" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9"></path>
              </svg>

              <span id="send_to_email" class="checkbox__label checkbox__label__list">Email</span>
            </label>
          </li>
          <li class="form-check-wrap-label form-check-wrap-label__list flex" id="send_to_telegram" style="display:none">
            <label class="checkbox flex" for="checkbox_send_telegram">
              <input type="checkbox" id="checkbox_send_telegram" class="checkbox__input" value="Telegram" onclick="CheckBoxSendTelegram()">
              <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3"></rect>
                <path class="tick" stroke="#22e806" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9"></path>
              </svg>

              <span id="send_to_telegram" class="checkbox__label checkbox__label__list">Telegram</span>
            </label>
          </li>
        </ul>
      </form>
    </div>
    <form class="form-input__wrapper" method="post" id="start_service_command_form">
      {% csrf_token %}

      <label for="start_service_command"></label>
      <input type="text" value="START_SERVICE:START_SERVICE:{{ filename }}" id="start_service_command" name="command" hidden="hidden">

      <label for="result_send_email"></label><input type="text" id="result_send_email" name="result_send_email" hidden="hidden">
      <label for="result_send_telegram"></label><input type="text" id="result_send_telegram" name="result_send_telegram" hidden="hidden">

      <button style="display: none" class="btn btn_success btn_success__form-check" id="start_service_button" onclick="clickStartServiceBtn()">{{ _('Start service') }}</button>
    </form>

    <script>
      // vanilla JS version
      window.onload = FileVerifyDisabledCheck;
      // верхнюю строку можно закомментировать, чтобы убрать блокировку
      document.getElementById("disabled_control").innerHTML = "FileVerifyDisabled{{ service }}: " + localStorage.getItem('FileVerifyDisabled{{ service }}');

      let task_file_verification_state = "{{ task_file_verification.state }}";
      const file_verification_result_elem = document.getElementById("file-verification-result");
      const select_next_file = "{{ _('Select a different file') }}";
      const resetBtn = document.getElementById("reset_btn");
      const start_serviceBtn = document.getElementById("start_service_button");
      const formCheckWrap = document.getElementById("form_check_wrap");
      const checkBoxConfirm = document.getElementById("confirm");
      const confirmSpan = document.getElementById("confirm_span");
      const confirmSpan2 = document.getElementById("confirm_span_2");
      const sendto_Email = document.getElementById("send_to_email");
      const sendto_Telegram = document.getElementById("send_to_telegram");
      const span_sendto_results = document.getElementById("span_send_results");
      const start_serviceForm = document.getElementById("start_service_command_form");
      const blockDisabled = document.getElementById("block_disabled");

      function FileVerificationProgress(progressBarElement, progressBarMessageElement, progress) {
        progressBarElement.innerHTML = '&nbsp;';
        progressBarElement.style.maxWidth = '100%';
        progressBarElement.style.width = progress.percent + '%';
        progressBarElement.style.backgroundColor = '#003dff';
        if (progress.description) {
            progressBarMessageElement.innerHTML = progress.description;
            task_file_verification_state = "PROGRESS"
        } else {
            progressBarMessageElement.innerHTML =  loader_circle
          }
      }

      function FileVerificationSuccess(progressBarElement, progressBarMessageElement) {
          task_file_verification_state = 'SUCCESS';
          resetBtn.innerHTML = select_next_file;
          formCheckWrap.style.display = "block"
          checkBoxConfirm.style.display = "block"

          progressBarElement.style.backgroundColor = '#22e806';
          progressBarMessageElement.innerHTML = "<b>{{ _('Success') }}</b>";
      }

      function FileVerificationError(progressBarElement, progressBarMessageElement, excMessage) {
          excMessage = excMessage || '';
          task_file_verification_state = 'ERROR';
          resetBtn.innerHTML = select_next_file;
          progressBarElement.style.backgroundColor = '#ff0000';
          progressBarMessageElement.innerHTML =  "<b>{{ _('Failed') }}</b> - " + excMessage;
      }

      function FileVerificationResult(resultElement, result) {
        const word_column = "{{ _('column') }}: ";
        const word_not_found = "<b style='color:#ff0000'>{{ _('not found') }}</b>";

        let id_credit_col = "";
        let id_credit_col_name = word_not_found;

        let fullname_col = "";
        let fullname_col_name = word_not_found;

        let date_birth_col = "";
        let date_birth_col_name = word_not_found;

        let ser_num_pass_col = "";
        let ser_num_pass_col_name = word_not_found;

        let date_issue_pass_col = "";
        let date_issue_pass_col_name = word_not_found;

        let name_org_pass_col = "";
        let name_org_pass_col_name = word_not_found;

        let inn_col = "";
        let inn_col_name = word_not_found;

        if (result.id_credit.col != null) {id_credit_col = result.id_credit.col}
        if (result.id_credit.col_name != null) {id_credit_col_name = " [ " + result.id_credit.col_name +" ]"}

        if (result.fullname.col != null) {fullname_col = result.fullname.col}
        if (result.fullname.col_name != null) {fullname_col_name = " [ " + result.fullname.col_name +" ]"}

        if (result.date_birth.col != null) {date_birth_col = result.date_birth.col}
        if (result.date_birth.col_name != null) {date_birth_col_name = " [ " + result.date_birth.col_name +" ]"}

        if (result.ser_num_pass.col != null) {ser_num_pass_col = result.ser_num_pass.col}
        if (result.ser_num_pass.col_name != null) {ser_num_pass_col_name = " [ " + result.ser_num_pass.col_name +" ]"}

        if (result.date_issue_pass.col != null) {date_issue_pass_col = result.date_issue_pass.col}
        if (result.date_issue_pass.col_name != null) {date_issue_pass_col_name = " [ " + result.date_issue_pass.col_name +" ]"}

        if (result.name_org_pass.col != null) {name_org_pass_col = result.name_org_pass.col}
        if (result.name_org_pass.col_name != null) {name_org_pass_col_name = " [ " + result.name_org_pass.col_name +" ]"}

        if (result) {
            file_verification_result_elem.innerHTML +=
              "<b>&nbsp;&nbsp;{{ _('Required columns') }}</b>:<ul><li>{{ _('Fullname') }} - " + word_column + fullname_col +  fullname_col_name +
              "</li><li>{{ _('Date birth') }} - " + word_column + date_birth_col + date_birth_col_name +
              "</li><li>{{ _('Serial and passport number') }} - " + word_column + ser_num_pass_col + ser_num_pass_col_name + "</li></ul>"

           file_verification_result_elem.innerHTML +=
              "<b>&nbsp;&nbsp;{{ _('Optional columns') }}</b>:<ul>" +
              "<li>{{ _('Id credit') }} - " + word_column + id_credit_col + id_credit_col_name +
              "</li><li>{{ _('Date issue passport') }} - " + word_column + date_issue_pass_col + date_issue_pass_col_name +
              "</li><li>{{ _('Passport issued by') }} - " + word_column + name_org_pass_col + name_org_pass_col_name + "</li></ul>"
          }

           if ("{{ request.path }}" === '/services/fssp/' ){
              if (result.inn.col != null) {inn_col = result.inn.col}
              if (result.inn.col_name != null) {inn_col_name = " [ " + result.inn.col_name +" ]"}
              file_verification_result_elem.innerHTML +=  "<ul style='margin-top: -15px'><li>{{ _('INN') }} - " + word_column + inn_col + inn_col_name + "</li></ul>"
            }


      }


      document.addEventListener("DOMContentLoaded", function () {
          CeleryProgressBar.initProgressBar("{{ url('celery_progress:task_status', task_file_verification.task_id) }}", {
          progressBarId: 'progress-bar-file-verification', progressBarMessageId: 'progress-bar-file-verification-message',
          onProgress: FileVerificationProgress, onResult: FileVerificationResult, onSuccess: FileVerificationSuccess, onError: FileVerificationError});
      });

      function clickResetBtn() {
        const commandForm = document.getElementById("command_form");
        commandForm.addEventListener("submit", function(event) {
            event.preventDefault();
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ request.path }}");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
              if (xhr.readyState === 4 && xhr.status === 200) {
                // handle response
              }
            };
            xhr.send(new FormData(commandForm));
          });
          commandForm.submit();
      }

      function clickStartServiceBtn() {
        localStorage.setItem('StartServiceForm{{ service }}', 'true')
        start_serviceForm.style.display = "none";

        blockDisabled.style.pointerEvents = 'none';
        blockDisabled.style.filter = 'grayscale(100%)';
        checkBoxConfirm.checked = true;

        localStorage.setItem('FileVerifyDisabled{{ service }}', 'true')

         start_serviceForm.addEventListener("submit", function(event) {
            event.preventDefault();
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ request.path }}");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function () {
              if (xhr.readyState === 4 && xhr.status === 200) {
                // handle response
              }
            };
            xhr.send(new FormData(start_serviceForm));
          });
          document.getElementById("result_send_email").value = !!document.getElementById("checkbox_send_mail").checked;
          document.getElementById("result_send_telegram").value = !!document.getElementById("checkbox_send_telegram").checked;

        start_serviceForm.submit()
      }


      function FileVerifyDisabledCheck() {

        if (localStorage.getItem('CheckBoxSendMail{{ service }}') === 'true') {
          document.getElementById("checkbox_send_mail").checked = true;
          }
        else {document.getElementById("checkbox_send_mail").checked = false;}


        if (localStorage.getItem('CheckBoxSendTelegram{{ service }}') === 'true') {
          document.getElementById("checkbox_send_telegram").checked = true;
          }
        else {document.getElementById("checkbox_send_telegram").checked = false;}


        if (localStorage.getItem('StartServiceForm{{ service }}') === 'true') {
          start_serviceForm.display = 'none';
          }
        else {start_serviceForm.display = 'block';}


        if (localStorage.getItem('FileVerifyDisabled{{ service }}') === 'true') {
          blockDisabled.style.pointerEvents = 'none';
          blockDisabled.style.filter = 'grayscale(100%)';
          checkBoxConfirm.checked = true;

          confirmSpan.style.display = "none";
          confirmSpan2.style.display = "block";

          resetBtn.style.display = "none";
          start_serviceBtn.style.display = "none";
          sendto_Email.style.display = "block";
          sendto_Telegram.style.display = "block";
          span_sendto_results.style.display  = "block";
          }
        else  {checkBoxConfirm.checked = false;}

      }

      function CheckboxConfirmOnClickFunction() {
          if (checkBoxConfirm.checked === true){
              confirmSpan.style.display = "none";
              confirmSpan2.style.display = "block";
              resetBtn.style.display = "none";
              start_serviceBtn.style.display = "block";

              {#alert(typeof "{{ user.email }}")#}
              {#alert("{{ user.email }}")#}
              span_sendto_results.style.display  = "block";
              sendto_Email.style.display  = "block";
              if (!("{{ request.user.tg_user_id }}" === 'None')) {sendto_Telegram.style.display = "block";}

          }
          else {
             confirmSpan.style.display = "block";
             confirmSpan2.style.display = "none";
             resetBtn.style.display = "block";
             start_serviceBtn.style.display = "none";
             sendto_Email.style.display = "none";
             sendto_Telegram.style.display = "none";
             span_sendto_results.style.display  = "none";
          }
      }

      function CheckBoxSendMail() {
        localStorage.setItem('CheckBoxSendMail{{ service }}', document.getElementById("checkbox_send_mail").checked)
      }

      function CheckBoxSendTelegram() {
        localStorage.setItem('CheckBoxSendTelegram{{ service }}', document.getElementById("checkbox_send_telegram").checked)
      }

    </script>
  {% else %}
    <form class="form-input__wrapper" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input class="form-input__file" id="datafile" name="datafile" type="file" title="{{ _('Select a file with initial data') }}" accept=".xls, .xlsx" onchange="displayFileName()"/>
      <label for="datafile" class="form-input form-input__file-button">
        <span class="form-input__file-button-text" id="fileName">{{ _('Select File') }}</span>
      </label>
      <button class="btn btn_success" type="submit">{{ _('Download') }}</button>
    </form>

    <script>
      document.getElementById("disabled_control").innerHTML += "FileVerifyDisabled{{ service }}: " + localStorage.getItem('FileVerifyDisabled{{ service }}');

      function displayFileName() {
        const input = document.getElementById('datafile');
        document.getElementById('fileName').textContent = input.files[0].name;
      }
    </script>
  {% endif %}
</div>
