{% extends "base.j2" %}

{% block content %}

    <div class="section-account">
      {% include "account/navigation.j2" %}
      <div class="section-content">
        <div class="account flex">
          <div class="account-column">
            {% if user.photo %}
          <div class="account-avatar"><img src="{{ user.photo.url }}" alt="фото нет" width="200" height="170"/>
          </div>
            {% else %}
          <div class="account-avatar"><img src="{{  static('img/none_avatar.png') }}" alt="фото нет"/>
          </div>
            {% endif %}
        </div>
        <div class="account-column">
          <div class="account-name">
            {% if not user.last_name and not user.first_nme and not user.surname %}
              Ф И О
            {% else %}
              {{ user.last_name }} {{ user.first_name }} {{ user.surname }}
            {% endif %}
          </div>
           <div>Дата регистрации: {{ date_joined }}</div>

          {% if user.username %}
            <div>Никнейм: {{ user.username }}</div>
          {% endif %}
          <a class="account-editLink a-active" href="{{ url('account:profile_user', user.pk) }}">Редактировать профиль</a>
        </div>
      </div>
    </div>

{% endblock %}
