{% extends "base.j2" %}

{% block content %}

    <div class="section-account">
      {% include "account/navigation.j2" %}
      <div class="section-content">
        <div class="account flex">
          <div class="account-column">
            {% if user.photo %}
              <div class="account-avatar flex"><img src="{{ user.photo.url }}" alt="{{ _('no avatar') }}" width="200" height="170"/></div>
            {% else %}
              <div class="account-avatar flex"><img src="{{  static('img/none_avatar.png') }}" alt="{{ _('no avatar') }}"/></div>
            {% endif %}
          </div>
          <div class="account-column">
            <div class="account-name">
              {% if not user.last_name and not user.first_nme and not user.surname %}
                {{ _('Full name') }}
              {% else %}
                {{ user.last_name }}&nbsp;{{ user.first_name }}&nbsp;{{ user.surname }}
              {% endif %}
            </div>
            <div>{{ _('Registration date') }}:&nbsp;{{ date_joined }}</div>
            {% if user.username %}
              <div>{{ _('Nickname') }}:&nbsp;{{ user.username }}</div>
            {% endif %}
            <a class="account-editLink a-active" href="{{ url('account:profile_user', user.pk) }}">{{ _('Edit profile') }}</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
