{% extends "base.j2" %}

{% block content %}

  <div class="section-account">
      {% include "account/navigation.j2" %}
      <div class="section-content">
        <div class="profile">
          <form class="form profile-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row flex">
              <div class="row-block">
                <div class="form-group">
                  <label class="form-label" for="avatar">{{ _('Avatar') }}</label>
                  <div class="p-avatar profile-avatar_noimg">
                    {% if user.photo %}
                        <label class="profile-fileLabel" for="avatar"><img class="avatar-img" src="{{ user.photo.url }}" alt="{{ _('Avatar') }}" />{{ _('Upload another avatar') }}</label>
                        <input class="form-input" id="avatar" name="avatar" type="file" data-validate="onlyImgAvatar" hidden="hidden"/>
                    {% else %}
                      <label class="profile-fileLabel" for="avatar"><img class="avatar-img" src="{{ static('img/download.svg') }}" alt="{{ _('Avatar') }}" />{{ _('Upload avatar') }}</label>
                      <input class="form-input" id="avatar" name="avatar" type="file" data-validate="onlyImgAvatar" hidden="hidden"/>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row-block">
                <div class="form-group">
                  <label class="form-label" for="name">{{ _('Full name') }}</label>
                  {% if user.last_name %}
                    <input class="form-input" id="name" name="name" type="text" value="{{user.last_name}} {{user.first_name}} {{user.surname}}" data-validate="require"/>
                  {% else %}
                    <input class="form-input" id="name" name="name" type="text" data-validate="require"/>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label class="form-label" for="username">{{ _('Nickname') }}
                  </label>
                  {% if user.username %}
                    <input class="form-input" id="name" name="username" type="text" value="{{user.username}}" data-validate="require"/>
                  {% else %}
                    <input class="form-input" id="name" name="username" type="text" data-validate="require"/>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label class="form-label" for="phone">{{ _('Phone') }}</label>
                  <input class="form-input" id="phone" name="phone" type="text" value="{{ user.phone_number }}" placeholder="{{ _('Phone number') }}" autocomplete="off"/>
                </div>
                <div class="form-group">
                  <label class="form-label" for="mail">E-mail</label>
                  <input class="form-input" id="mail" name="mail" type="text" value="{{ user.email }}" data-validate="require" autocomplete="off"/>
                </div>
                <div class="form-group">
                  <label class="form-label" for="password">{{ _('Password') }}</label>
                  <input class="form-input" id="password" name="password" type="password" placeholder="{{ _('Enter new password') }}" autocomplete="off"/>
                </div>
                <div class="form-group">
                  <label class="form-label" for="passwordReply">{{ _('Password confirmation') }}</label>
                  <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="{{ _('Enter your password again') }}" autocomplete="off"/>
                </div>
                <div class="form-group">
                  <div class="profile-btn">
                    <button class="btn btn_success" type="submit">{{ _('Save') }}</button>
                  </div>
                  <div class="profile-success">
                    {% if messages %}
                      <ul class="messages">
                        {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>



{% endblock %}
