<form action="{{ url('set_language') }}" method="post" type="hidden">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ request.get_full_path() }}">
  {% for language in LANGUAGES %}
      {% if language[0] != LANGUAGE_CODE %}
        <input name="language" type="hidden" value="{{ language[0] }}">
      {% endif %}
  {% endfor %}
  <input class="header__btn btn-reset" type="submit" value="{{ LANGUAGE_CODE.upper() }}">
</form>
