<footer class="footer">
  <div class="container">
    <div class="footer__container flex">
      <div class="footer__list">
        <p class="footer-title">КБ Маршал</p>
        <a href="+79994959595" class="footer__link">Телефон: +7 999 495 95 95</a>
        <a href="mailto:kbmarshal@mail.ru" class="footer__link">E-mail: kbmarshal@mail.ru</a>
      </div>
    </div>
  </div>
</footer>

