{% autoescape off %}

    Вы получили это электронное письмо, потому что для пользователя {{ user.get_username }}
    был запрошен сброс пароля учётной записи пользователя.

	Перейдите на следующую страницу и установите новый пароль:
	{% block reset_link %}
	    {{ protocol }}://{{ domain }}{% url 'users:set_new_password' uidb64=uid token=token %}
	{% endblock %}

	Спасибо за использование нашего сайта!

    Если Вы не запрашивали восстановление пароля, проигнорируйте сообщений!

	The team

{% endautoescape %}
