# Для автоматического запуска бота при перезагрузке сервера копия этого файла
# должна лежать в папке /etc/systemd/system/
# команда для копирования файла в нужную категорию cp celery.service /etc/systemd/system/
# systemctl enable celery - это команда в регистрации автозапуска при рестарте
# service celery start - запуск / stop

[Unit]
Description=Celery Service
After=network.target redis.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/KBMarshalService/web_service
ExecStart=/var/KBMarshalService/venv/bin/celery -A web_service worker -l info
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
EOF