<div class="privacy-policy-content">
  <h4 class="privacy-policy-title">Privacy Policy</h4>
  <p class="privacy-policy-p">This Personal Data Privacy Policy (hereinafter referred to as the Privacy Policy) applies to all information that the site <a href="#" class="a-active">https://kbmarshal.ru/</a> (hereinafter referred to as the site) can receive about the User while browsing the site.
  </p>
  <h5 class="privacy-policy-h5">1. DEFINITION OF TERMS</h5>
  <p class="privacy-policy-p">1.1 The following terms are used in this Privacy Policy:</p>
  <p class="privacy-policy-p">1.1.1. "Site Administration" - authorized employees to manage the site, who organize and (or) carry out the processing of personal data, and also determine the purposes of processing personal data, the composition of personal data to be processed, the actions (operations) performed with personal data.
  </p>
  <p class="privacy-policy-p">1.1.2. "Personal data" - any information relating to a directly or indirectly identified or identifiable natural person (subject of personal data).
  </p>
  <p class="privacy-policy-p">1.1.3. "Processing of personal data" - any action (operation) or a set of actions (operations) performed using automation tools or without using such tools with personal data, including collection, recording, systematization, accumulation, storage, clarification (updating, changing), extraction, use, transfer (distribution, provision, access), depersonalization, blocking, deletion, destruction of personal data.
  </p>
  <p class="privacy-policy-p">1.1.4. “Confidentiality of personal data” is a mandatory requirement for the Operator or other person who has access to personal data to prevent their distribution without the consent of the subject of personal data or other legal grounds.
  </p>
  <p class="privacy-policy-p">1.1.5. "Site User" (hereinafter referred to as the User) is a person who has access to the Site via the Internet and uses the Site.
  </p>
  <p class="privacy-policy-p">1.1.6. A "cookie" is a small piece of data sent by a web server and stored on the user's computer, which the web client or web browser sends to the web server in an HTTP request every time it tries to open a page of the corresponding site.
  </p>
  <p class="privacy-policy-p">1.1.7. “IP address” is a unique network address of a node in a computer network built using the IP protocol.
  </p>
  <h5 class="privacy-policy-h5">2. GENERAL PROVISIONS</h5>
  <p class="privacy-policy-p">2.1. The use of the Site by the User means acceptance of this Privacy Policy and the terms of processing of the User's personal data.
  </p>
  <p class="privacy-policy-p">2.2. In case of disagreement with the terms of the Privacy Policy, the User must stop using the Site.
  </p>
  <p class="privacy-policy-p">2.3. This Privacy Policy applies only to this site. The site administration does not control and is not responsible for third-party sites to which the User can follow the links available on the Site.
  </p>
  <p class="privacy-policy-p">2.4. The Site Administration does not verify the accuracy of personal data provided by the Site User.
  </p>
  <h5 class="privacy-policy-h5">3. SUBJECT OF THE PRIVACY POLICY</h5>
  <p class="privacy-policy-p">3.1. This Privacy Policy establishes the obligations of the Site Administration for non-disclosure and ensuring the confidentiality of personal data that the User provides at the request of the Site Administration when registering on the Site or when placing an order for the purchase of Goods, the provision of Services or the performance of Works.
  </p>
  <p class="privacy-policy-p">3.2. Personal data authorized for processing under this Privacy Policy is provided by the User by filling out a form on the Site and may include the following information:
  </p>
  <p class="privacy-policy-p">3.2.1. surname, name, patronymic of the User;
  </p>
  <p class="privacy-policy-p">3.2.2. contact phone number of the User;
  </p>
  <p class="privacy-policy-p">3.2.3. email address (e-mail);
  </p>
  <p class="privacy-policy-p">3.2.4. delivery address of the Goods or place of provision of Services (if required);
  </p>
  <p class="privacy-policy-p">3.2.5. place of residence of the User (if required).
  </p>
  <p class="privacy-policy-p">3.3. The Site protects Data that is automatically transmitted during viewing of ad units and when visiting pages on which the system's statistical script ("pixel") is installed:
  </p>
  <ul>
    <li class="privacy-policy-p">IP address;</li>
    <li class="privacy-policy-p">information from cookies;</li>
    <li class="privacy-policy-p">information about the browser (or other program that accesses the display of advertising);</li>
    <li class="privacy-policy-p">access time;</li>
    <li class="privacy-policy-p">the address of the page on which the ad block is located;</li>
    <li class="privacy-policy-p">referrer (address of the previous page).</li>
  </ul>
  <p class="privacy-policy-p">3.3.1. Disabling cookies may result in the inability to access parts of the Site that require authorization.</p>
  <p class="privacy-policy-p">3.3.2. The site collects statistics about the IP addresses of its visitors. This information is used to identify and solve technical problems, to control the legality of financial payments.
  </p>
  <p class="privacy-policy-p">3.4. Any other personal information not specified above (purchase history, browsers and operating systems used, etc.) is subject to secure storage and non-distribution, except as provided in paragraphs. 5.2. and 5.3. of this Privacy Policy.
  </p>
  <h5 class="privacy-policy-h5">4. PURPOSE OF COLLECTING USER'S PERSONAL INFORMATION</h5>
  <p class="privacy-policy-p">4.1. The User's personal data may be used by the Site Administration for the following purposes:
  </p>
  <p class="privacy-policy-p">4.1.1. Identification of the User registered on the Site for placing an order and (or) concluding an Agreement for the sale of goods or the provision of services remotely.
  </p>
  <p class="privacy-policy-p">4.1.2. Providing the User with access to the personalized resources of the Site.
  </p>
  <p class="privacy-policy-p">4.1.3. Establishing feedback with the User, including sending notifications, requests regarding the use of the Site, the provision of services, processing requests and applications from the User.
  </p>
  <p class="privacy-policy-p">4.1.4. Determining the location of the User to ensure security, prevent fraud.
  </p>
  <p class="privacy-policy-p">4.1.5. Confirmation of the accuracy and completeness of personal data provided by the User.
  </p>
  <p class="privacy-policy-p">4.1.6. Creating an account for making purchases or ordering services, if the User has agreed to create an account.
  </p>
  <p class="privacy-policy-p">4.1.7. Notifying the Site User about the status of the Order.
  </p>
  <p class="privacy-policy-p">4.1.8. Processing and receiving payments, confirming tax or tax benefits, contesting a payment, determining the right to receive a credit line by the User.
  </p>
  <p class="privacy-policy-p">4.1.9. Providing the User with effective customer and technical support in case of problems related to the use of the Site.
  </p>
  <p class="privacy-policy-p">4.1.10. Providing the User with his consent, product or service updates, special offers, pricing information, newsletters and other information on behalf of the Site or on behalf of the partners of the Site.
  </p>
  <p class="privacy-policy-p">4.1.11. Implementation of advertising activities with the consent of the User.
  </p>
  <p class="privacy-policy-p">4.1.12. Granting access to the User to the websites or services of the partners of the Website in order to obtain products, updates and services.
  </p>
  <h5 class="privacy-policy-h5">5. METHODS AND TERMS OF PROCESSING PERSONAL INFORMATION</h5>
  <p class="privacy-policy-p">5.1. The processing of the User's personal data is carried out without time limit, in any legal way, including in personal data information systems using automation tools or without using such tools.
  </p>
  <p class="privacy-policy-p">5.2. The User agrees that the Site Administration has the right to transfer personal data to third parties, in particular, courier services, postal organizations, telecommunications operators, solely for the purpose of fulfilling the User's order placed on the Site, including the delivery of Goods, the provision of Services or the performance of Works.
  </p>
  <p class="privacy-policy-p">5.3. The User's personal data may be transferred to the authorized state authorities of the Russian Federation only on the grounds and in the manner established by the legislation of the Russian Federation.
  </p>
  <p class="privacy-policy-p">5.4. In case of loss or disclosure of personal data, the Site Administration informs the User about the loss or disclosure of personal data.
  </p>
  <p class="privacy-policy-p">5.5. The site administration takes the necessary organizational and technical measures to protect the User's personal information from unauthorized or accidental access, destruction, modification, blocking, copying, distribution, as well as from other illegal actions of third parties.
  </p>
  <p class="privacy-policy-p">5.6. The Site Administration, together with the User, takes all necessary measures to prevent losses or other negative consequences caused by the loss or disclosure of the User's personal data.
  </p>
  <h5 class="privacy-policy-h5">6. OBLIGATIONS OF THE PARTIES</h5>
  <p class="privacy-policy-p">6.1. The user is obliged:
  </p>
  <p class="privacy-policy-p">6.1.1. Provide information about personal data necessary to use the Site.
  </p>
  <p class="privacy-policy-p">6.1.2. Update, supplement the provided information about personal data in case of changes in this information.
  </p>
  <p class="privacy-policy-p">6.2. The site administration is obliged:
  </p>
  <p class="privacy-policy-p">6.2.1. Use the information received solely for the purposes specified in clause 4 of this Privacy Policy.
  </p>
  <p class="privacy-policy-p">6.2.2. Ensure that confidential information is kept secret, not disclosed without the prior written permission of the User, and also not to sell, exchange, publish, or disclose in other possible ways the transferred personal data of the User, with the exception of clauses. 5.2. and 5.3. of this Privacy Policy.
  </p>
  <p class="privacy-policy-p">6.2.3. Take precautions to protect the confidentiality of the User's personal data in accordance with the procedure usually used to protect this kind of information in existing business transactions.
  </p>
  <p class="privacy-policy-p">6.2.4. Block personal data relating to the relevant User from the moment the User or his legal representative or authorized body for the protection of the rights of subjects of personal data has applied or requested for the period of verification, in case of revealing false personal data or illegal actions.
  </p>
  <h5 class="privacy-policy-h5">7. RESPONSIBILITIES OF THE PARTIES</h5>
  <p class="privacy-policy-p">7.1. The site administration, which has not fulfilled its obligations, is liable for losses incurred by the User in connection with the unlawful use of personal data, in accordance with the legislation of the Russian Federation, with the exception of cases provided for in paragraphs. 5.2., 5.3. and 7.2. of this Privacy Policy.
  </p>
  <p class="privacy-policy-p">7.2. In case of loss or disclosure of Confidential Information, the Site Administration is not responsible if this confidential information:
  </p>
  <p class="privacy-policy-p">7.2.1. Became public property before its loss or disclosure.
  </p>
  <p class="privacy-policy-p">7.2.2. It was received from a third party until it was received by the Site Administration.
  </p>
  <p class="privacy-policy-p">7.2.3. Was disclosed with the consent of the User.
  </p>
  <h5 class="privacy-policy-h5">8. DISPUTES RESOLUTION</h5>
  <p class="privacy-policy-p">8.1. Before going to court with a claim on disputes arising from the relationship between the Site User and the Site Administration, it is mandatory to submit a claim (a written proposal for a voluntary settlement of the dispute).
  </p>
  <p class="privacy-policy-p">8.2. The recipient of the claim, within 30 calendar days from the date of receipt of the claim, notifies the claimant in writing of the results of the consideration of the claim.
  </p>
  <p class="privacy-policy-p">8.3. If an agreement is not reached, the dispute will be referred to the judicial authority in accordance with the current legislation of the Russian Federation.
  </p>
  <p class="privacy-policy-p">8.4. The current legislation of the Russian Federation applies to this Privacy Policy and the relationship between the User and the Site Administration.
  </p>
  <h5 class="privacy-policy-h5">9. ADDITIONAL TERMS</h5>
  <p class="privacy-policy-p">9.1. The site administration has the right to make changes to this Privacy Policy without the consent of the User.
  </p>
  <p class="privacy-policy-p">9.2. The new Privacy Policy comes into force from the moment it is posted on the Site, unless otherwise provided by the new edition of the Privacy Policy.
  </p>
</div>
