html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --white-color: #FFF;
  --light-light-grey: #CACACA;
  --light-grey: #666;
  --grey: #414141;
  --black: #000;
  --orange: #FF9900;
  --light-orange: #FFB84D;
  --brown: #E1670E;
  --green: #97EE3F;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Regular'), url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-SemiBold'), url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Bold'), url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url("../fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pattaya";
  src: local('Pattaya-Regular'), url("../fonts/Pattaya-Regular.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RubikDirt";
  src: local('RubikDirt-Regular'), url("../fonts/RubikDirt-Regular.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--white-color);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.header {
  width: 100%;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 75px;
  width: 100%;
  height: 80px;
  background-color:#000;
}

.header__container-bottom {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 15px 75px;
  height: 110px;
  background-color:#FFF;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  height: 100%;
  color: #FFF;
  transition: color 0.1s ease-in-out;
}

.header__link:focus {
  color: var(--light-light-grey);
  outline: none;
  outline-offset: 2px;
}

.header__link:hover {
  color: var(--orange);
  outline: none;
}

.header__link:active {
  outline: none;
  color: var(--brown);
}

.header__link-reg {
  padding-left: 30px;
  background-position: left;
  background-repeat: no-repeat;
  /*background-image: url(../img/user.svg);*/
}

.header__link-lang {
  height: 100%;
}

.wrap {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.entrance {
  justify-content: space-between;
  text-align: center;
}

.text {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 128, 172, 1) 0%,
    rgba(0, 128, 172, 0) 70.3%
  );
  text-align: center;
  color: white;
}

.header__link-svg {
  width: 30px;
  height: 30px;
  fill: white;
}

.header__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.header-bottom__list {
  justify-content: space-between;
}

.header-bottom__item:not(:last-child) {
  margin-right: 100px;
}

.header-bottom__link {
  position: relative;
  display: inline-block;
  font-family: Pattaya;
  font-size: 26px;
  font-weight: 800;
  line-height: normal;
  transition: color 0.1s ease-in-out, background-color 0.3s ease-in-out;
}

.header-bottom__link:focus {
  outline-offset: 5px;
  outline: none;
}

.header-bottom__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--brown);
  opacity: 0;
}

.header-bottom__link:hover {
  color: var(--orange);
}

.header-bottom__link:hover::after {
  color: var(--orange);
  background-color: var(--orange);
  opacity: 1;
}

.header-bottom__link:active {
  border-bottom: none;
  outline: none;
  color: var(--brown);
}

.base {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/1674312417_foni-club-p-svetlo-serii-fon-1.jpg);
}

h1 {
  font-family: "RubikDirt";
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-weight: 700;
  margin-right: auto;
  color: #000;
}

.footer {
  width: 100%;
  background-color: var(--black);
}

.footer__container {
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
  align-items: center;
  width: 100%;
  padding: 15px 75px;
  height: 150px;
}

.footer-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--white-color);
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  color: var(--light-light-grey);
  transition: color 0.3s ease-in-out;
}

.footer__link:focus {
  color: var(--light-light-grey);
  outline: none;
  outline-offset: 2px;
}

.footer__link:hover {
  color: var(--orange);
  outline: none;
}

.footer__link:active {
  outline: none;
  color: var(--brown);
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  display: inline-flex;
  width: 30px;
  height: 30px;
  fill: var(--light-grey);
}

.social-icons__link:focus {
  outline: none;
  outline-offset: 2px;
}

.social-icons__link:hover {
  outline: none;
}

.social-icons__link svg path {
  transition: fill 0.3s ease-in-out;
}

.social-icons__link:focus svg path {
  fill: var(--light-grey);
}

.social-icons__link:hover svg path {
  fill: var(--orange);
  }

.social-icons__link:active svg path {
  fill: var(--brown);
}
 /*account*/

.section-account {
  display: flex;
  padding: 50px 0;
 }

.navigation {
  width: calc(100% / 3);
}

.navigation-title {
  display: inline-block;
  margin-bottom: 25px;
  font-size: 23px;
  font-weight: 700;
  color: #000;
}

.menu-item:not(:last-child) {
  margin-bottom: 15px;
}

.menu-link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.section-content {
  width: calc(100% / 3);
}

.account-avatar {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  margin-right: 25px;
}

.account-name {
  margin-bottom: 25px;
  font-family: Pattaya;
  font-size: 25px;
  font-weight: 700;
}

/*profile*/

.form-label {
  display: inline-block;
  width: 220px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.profile-fileLabel {
  display: inline-block;
  width: 250px;
  height: 260px;
  margin-bottom: 35px;
  margin-right: 35px;
  border: 1px solid #000;
}
.avatar-img {
  width: 35px;
  height: 35px;
  align-items: center;
  display: inline-block;
}

.form-input {
  width: 300px;
  height: 35px;
  padding-left: 8px;
  outline: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: var(--light-grey);
  background-color: var(--light-light-grey);
  transition: background-color 0.3s ease-in-out;
}

.form-input:focus {
  outline: none;
  background-color: var(--light-light-grey);
}

.form-input:hover {
  color: rgba(135, 147, 154);
  background-color: rgba(60, 63, 65);
}

.form-input:active {
  color: var(--black);
  background-color: var(--grey);
}

.btn_success {
  display: inline-block;
  margin: 0 auto;
  width: 300px;
  height: 35px;
  padding: 8px 10px;
  border-radius: 8px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: var(--white-color);
  background: linear-gradient(150deg, rgba(0, 128, 172, 1) 0%, rgba(57, 114, 213, 1) 50%, rgba(35, 90, 191, 1) 50%, rgba(0, 128, 172, 0.5) 70.3%);
}

.btn_success:hover {
  color: var(--orange);
  background: linear-gradient(150deg, rgba(0, 128, 172, 0.5) 0%, rgba(35, 90, 191, 1) 50%, rgba(57, 114, 213, 1) 50%, rgba(0, 128, 172, 1) 70.3%);
}

/*login*/

.wrapper {
  text-align: center;
}

.login-title, .password-title, .register-title, .e-mail-title {
  display: inline-block;
  width: calc(100% / 3);
  height: 100%;
  text-align: center;
}

.sign-in {
  display: inline-block;
  margin-bottom: 25px;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  color: #000;
}

.offset {
  margin-top: 20px;
}

.a-active {
  position: relative;
  display: inline-block;
  font-size: 16px;
  transition: color 0.1s ease-in-out, background-color 0.3s ease-in-out;
}

.a-active:focus {
  outline-offset: 5px;
  outline: none;
}

.a-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--brown);
  opacity: 0;
}

.a-active:hover {
  color: var(--orange);
}

.a-active:hover::after {
  color: var(--orange);
  background-color: var(--orange);
  opacity: 1;
}

.a-active:active {
  border-bottom: none;
  outline: none;
  color: var(--brown);
}

/*e-mail*/

.e-mail-subtitle, .password-subtitle {
  display: inline-block;
  max-width: 400px;
  font-size: 16px;
}

